*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.section1{
  
    display: flex;
    justify-content: space-around;
}
.section1 button{
    padding: 10px 50px;
}
.search{
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgb(171, 120, 55);
}
.search input{
    outline: none;
    background-color:rgb(171, 120, 55) ;
   
}
input::placeholder{
    color: black;
}

.section2{
    /* border: 1px solid red; */
  
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border: 2px solid red;
    width: 80%;
    margin:10% auto;
}
.to-do{
    /* border: 1px solid black; */
    width: 80%;
    color: rgb(86, 82, 82);
    font-size: 13px;
}

.to-do1 h1{
    font-size: 20px;
    border: 2px solid red;
    padding: 10px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1px;
    color: gray;
}
.to-do span{
  border: 2px solid rgb(198, 190, 190);
  border-top: none;
  border-right: none;
  border-bottom: none;
  margin-left: 10px;
  padding: 0 15px;
  height: 2px;
}
.to-do2{
    border: 1px solid red;
    margin-top: 20px;
    border-left: 3px solid red;    
    padding:10px 20px;
    border-radius: 5px;
}  
.to-do3{
    border: 1px solid blue;
    margin-top: 20px;
    border-left: 3px solid blue;    
    padding:10px 20px;
    border-radius: 5px;
}  
.to-do4{
    border: 1px solid blue;
    margin-top: 20px;
    border-left: 3px solid blue;    
    padding:10px 20px;
    border-radius: 5px;
}  

.in-progress{
    width: 80%;
    color: rgb(86, 82, 82);
    
    font-size: 13px;
}
.in-progress h1{
    font-size: 20px;
    border: 2px solid yellow;
    padding: 10px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1px;
    color: gray;

}
.in-progress span{
    border: 2px solid rgb(198, 190, 190);
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-left: 10px;
    padding: 0 15px;
    height: 2px;
  }
  .in-progress2{
    border: 1px solid blue;
    margin-top: 20px;
    border-left: 3px solid blue;    
    padding:10px 20px;
    border-radius: 5px;

  }
  .done{
    width: 80%;
    color: rgb(86, 82, 82);
    
    font-size: 13px;
  }
  .done1 h1{
    font-size: 20px;
    border: 2px solid rgb(149, 170, 45);
    padding: 10px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1px;
    color: gray;
  }
  .done1 span{
    border: 2px solid rgb(198, 190, 190);
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-left: 10px;
    padding: 0 15px;
    height: 2px;
  }
  .done2{
    border: 1px solid red;
    margin-top: 20px;
    border-left: 3px solid red;    
    padding:10px 20px;
    border-radius: 5px;
  }
  .done3{
    border: 1px solid blue;
    margin-top: 20px;
    border-left: 3px solid blue;    
    padding:10px 20px;
    border-radius: 5px;
  }