/* *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.section1{
  
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
}
.section1 button{
    padding: 10px 50px;
}
.search{
    border: 2px solid black;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: rgb(171, 120, 55);
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.search input{
    outline: none;
    background-color:rgb(171, 120, 55) ;
   
}
input::placeholder{
    color: black;
} */

/* .section2{
   
  
    display: flex;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   
    width: 80%;
    margin:10% 12%;
}
.to-do{
   
    width: 80%;
    color: rgb(86, 82, 82);
    font-size: 13px;
}

.to-do1 h1{
    font-size: 20px;
    border: 2px solid red;
    padding: 10px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1px;
    color: gray;
}
.to-do span{
  border: 1px solid rgb(204, 198, 198);
  border-top: none;
  border-right: none;
  border-bottom: none;
  margin-left: 10px;
  padding: 0 15px;
  height: 2px;
}
.to-do2{
    border: 1px solid red;
    margin-top: 20px;
    border-left: 3px solid red;    
    padding:10px 20px;
    border-radius: 5px;
}  
.to-do3{
    border: 1px solid blue;
    margin-top: 20px;
    border-left: 3px solid blue;    
    padding:10px 20px;
    border-radius: 5px;
}  
.to-do4{
    border: 1px solid blue;
    margin-top: 20px;
    border-left: 3px solid blue;    
    padding:10px 20px;
    border-radius: 5px;
}   */




.in-progress{
    width: 80%;
    color: rgb(86, 82, 82);
    
    font-size: 13px;
}
.in-progress h1{
    font-size: 20px;
    border: 2px solid #f59e0b;
    padding: 10px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1px;
    color: gray;

}
.in-progress span{
    border: 1px solid rgb(204, 198, 198);
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-left: 10px;
    padding: 0 15px;
    height: 2px;
  }
  .in-progress2{
    border: 1px solid blue;
    margin-top: 20px;
    border-left: 3px solid blue;    
    padding:10px 20px;
    border-radius: 5px;

  }
  .done{
    width: 80%;
    color: rgb(86, 82, 82);
    
    font-size: 13px;
  }
  .done1 h1{
    font-size: 20px;
    border: 2px solid rgb(149, 170, 45);
    padding: 10px 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 1px;
    color: gray;
  }
  .done1 span{
    border: 1px solid rgb(204, 198, 198);
    border-top: none;
    border-right: none;
    border-bottom: none;
    margin-left: 10px;
    padding: 0 15px;
    height: 2px;
  }
  .done2{
    border: 1px solid red;
    margin-top: 20px;
    border-left: 3px solid red;    
    padding:10px 20px;
    border-radius: 5px;
  }
  .done3{
    border: 1px solid blue;
    margin-top: 20px;
    border-left: 3px solid blue;    
    padding:10px 20px;
    border-radius: 5px;
  }
 
 
 

@media (max-width:768px){
  .section1{
    width: 100%;
    
 
  }
  .section1 button{
    width: 100px;
    height: 35px;
    font-size: 10px;
    padding: 10px;
  }
  .search{
    margin-top: -7px;
    width: 45%;
   
  }
 .search input{
 margin-left: -25px;
 
 }
 input::placeholder{
  font-size: 13px;
  color: black;
 }
 .search i{
  font-size: 13px;
  margin-top: 10px
 }
 .section2{
  display: block;
  margin: 60px 80px ;
 }
 .in-progress, .done{
  margin-top: 30px;
 }
}